* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #ccc;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.weather {
    grid-column: 1 / span 12;
    padding: 32px 0; 
}

.jokes-box {
    grid-column: 3 / span 8;
    border-radius: 16px;
    border: 1px solid #333;
    background-color: #222;
    text-align: center;
    padding: 40px;
}

.jokes-box #js-joke-container {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    line-height: 24px;
    padding: 40px 120px;
}

.jokes-box button {
    padding: 12px 40px;
    border-radius: 8px;
    font-weight: 800;
}

.jokes-box button:hover {
    background-color: #ca6800;
    color: white;
}

.jokes-box button:active {
    background-color: #9c5d1a;
    color: white;
}

.jokes-reporting-container {
    opacity: 0;
    padding: 24px 120px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.jokes-reporting-container div {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid;
}

.jokes-reporting-container div:has(input[type="radio"]:checked) {
    background-color: rgb(46, 53, 110);
}